/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-viktorias-blocks-team-block {
    display: block;
}

 

.block-editor-block-list__block {
    .block-editor-block-list__layout {
        display: grid;
        grid-gap: 1rem;
        grid-auto-rows: 1fr;
    }
    
    @for $i from 1 through 4 {
        &.has-#{$i}-cols {
            .block-editor-block-list__layout {
                grid-template-columns: repeat(#{$i}, 1fr);
            }
           
        }
    }
}

.member-card__image {
    position: relative;
    &.is-loading {
        img {
            opacity: .3;
        }  
    }
    .components-spinner {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}